﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" Title="Socios" AutoEventWireup="true" CodeFile="Socios.aspx.cs" Inherits="Socios" %>
<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <div class="row">
      <div class="col-md-4">
	  <h3><b>Socios</b></h3>
		<p>
			Socio: 
			<asp:TextBox ID="txtSocio" runat="server"></asp:TextBox>
		</p>
		<p>
			Nombre: 
			<asp:TextBox ID="txtNombre" runat="server"></asp:TextBox>
		</p>
		<p>
			Telefono: 
			<asp:TextBox ID="txtTelefono" runat="server"></asp:TextBox>
		</p>
		<p>
			Ingreso:
			<asp:TextBox ID="txtIngreso" runat="server"></asp:TextBox>
		</p>
			<asp:Button ID="btnEliminar" class="btn btn-danger" runat="server" Text="Eliminar" onclick="btnEliminar_Click"/>
			<asp:Button ID="btnBuscar" class="btn btn-info" runat="server" Text="Buscar" onclick="btnBuscar_Click"/>
			<asp:Button ID="btnCrear" class="btn btn-primary" runat="server" Text="Crear" onclick="btnCrear_Click"/>
            <asp:Button ID="btnActualizar" class="btn btn-default" runat="server" Text="Actualizar" onclick="btnActualizar_Click"/>
		</div>
        <div class="col-md-8">
			<asp:GridView ID="GridView1" CssClass="table table-bordered" runat="server"  EnableModelValidation="True">
         <Columns>
            <%--CheckBox para seleccionar varios registros...--%>
            <asp:TemplateField ItemStyle-HorizontalAlign="Center" HeaderStyle-Width="70px">
                <ItemTemplate>
                    <asp:CheckBox ID="chk" runat="server" AutoPostBack="true" />
                </ItemTemplate>
            </asp:TemplateField>  
                    </Columns>       
			</asp:GridView>
		</div>
    </div>
	</form>
</asp:Content>
